body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

div.admin_header {
	background: #CCC;
	padding: 10px; 
	height: 100px; 
	border: 3px solid black; 
	border-radius: 10px; 
	/*magrin: 5px;*/ 	
}
img.admin_logo {
	margin-right: 20px; 
	float: left;
}

div#adm_panel {
	/*margin: 5px;*/
	margin-bottom: 10px;  
}

span#adm_panel_words {
	font-size: 32px;
	font-weight: bold;
	margin: 10px;  
}

span#users_area, 
span#weapons_area, 
span#armors_area, 
span#aids_area {
	display: inline-block;
	border-width: 2px; 
	border-style: solid;
	border-radius: 15px;
	padding: 5px;	 
}

span#users_area:hover, 
span#weapons_area:hover, 
span#armors_area:hover, 
span#aids_area:hover {
	background:#DDD; 
}

a.div_link {
	text-decoration: none;
	color:black; 	
}

table {
	border-collapse:collapse;
}

table,th, td {
	border: 1px solid black;
	padding: 2px 5px; 
	text-align: center; 
}

table.users_table {	}

a.new_entry {
	text-decoration: none; 
}

a.new_entry:hover, a.new_entry:active, a.new_entry:visited, a.new_entry:link{
	text-decoration: none;
	color: black;
	font-size: 14pt;
	padding: 5px; 
	border: 3px solid black; 
	background: #CCC; 
	border-radius: 10px; 
}

a.new_entry:hover {
	background: #DDD; 
}

div.users_div, div.weapons_div, div.armors_div, div.aids_div, div.summary_div, a.logout_link, a.logout_lind:VISITED {
	margin-top: 5px; 
	border-radius: 15px; 
	color: black; 
	padding: 10px; 
	border: 2px solid black; 
}

span.create_new_entry { }

img.item_picture {
	float: left; 
	margin: 10px; 
}