@CHARSET "UTF-8";

body {
	background: url("../../img/fight/overlay.png");
	color: #CC0000;
	font-family: "impact";
}

div { /* 	outline: 1px solid red; */
	
}

#content {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 800px;
}

#insideRight {
	width: 150px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 175px;
	background: url("../../img/fight/wait.gif") no-repeat;
}

#left {
	float: left;
	width: 400px;
	height: 520px;
}

#right {
	float: right;
	width: 400px;
	height: 520px;
}
/* ************NAME LVL********* */
#leftName { /* 	outline: 2px solid red; */
	width: 100%;
	height: 40px;
}

#rightName { /* 	outline: 2px solid red; */
	width: 100%;
	height: 40px;
}

#leftLvl {
	float: left;
	/* 	width: 30%; */
	/* 	outline: 2px solid red; */
	height: 100%;
}

#rightLvl { /* 	width: 30%; */
	height: 100%;
	float: right;
	/* 	outline: 2px solid red; */
}

#leftNickName { /* 	width: 30%; */
	height: 100%;
	float: right;
	/* 	outline: 2px solid red; */
}

#rightNickName { /* 	width: 30%; */
	height: 100%;
	float: left;
	/* 	outline: 2px solid red; */
}
/* +++++++++++++HP++++++++++++++++++++++++++ */
#leftHP {
	height: 80px;
}

#rightHP {
	height: 80px;
}

#rightHPWrapper {
	float: right;
}

#leftHPWrapper {
	float: left;
}
/* +++++++++++++++++++HP++++++++++++++++++++++ */
#leftProgressHP {
	height: 25px;
	width: 96%;
	background-color: gray;
	float: left;
	border-radius: 5px;
}

#rightProgressHP {
	height: 25px;
	width: 96%;
	background-color: gray;
	float: right;
	border-radius: 5px;
}

#innerLeftProgressHP {
	height: 25px;
	width: 100%;
	/* 	float: left; */
	border-radius: 5px;
}

#innerRightProgressHP {
	height: 25px;
	width: 100%;
	border-radius: 5px;
}

#leftHPPercent {
	background: transparent;
	margin-top: -25px;
	width: 100%;
	text-align: center;
}

#rightHPPercent {
	background: transparent;
	margin-top: -25px;
	width: 100%;
	text-align: center;
}

/* ************************************** */
#rightAgility,#rightStrength,#rightInteligence {
	float: right;
}

#leftAgility,#leftStrength,#leftInteligence {
	
}
/* ***************Attack Block**************************** */
#attackBlock {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 80px
}

#atackButtonWrapper {
	width: 100px;
	height: 45px;
	margin-left: auto;
	margin-right: auto;
}

#hitInput {
	width: 30px;
	display: none
}

#blockInput {
	width: 30px;
	display: none
}

#aidInput {
	width: 30px;
	display: none
}
/* ****************COLOR HP*********************** */
.orange {
	background: url("../../img/fight/orange.png");
}

.red {
	background: url("../../img/fight/red.png");
}

.green {
	background: url("../../img/fight/green.png");
}
/* ****************TIMER***************************** */
#timer {
	width: 100%;
	height: 25px;
	font-size: 20px;
	text-align: center;
}

/* *************DOLL******************************/
#attackBlockDoll {
	width: 200px;
	margin-left: 400px;
	margin-right: 400px;
}

#doll {
	width: 150px;
	height: 400px;
	margin: 0 auto;
}
/* **************STATS****************** */
#leftStats {
	width: 100px;
	height: 250px;
	float: left;
}

#rightStats {
	width: 100px;
	height: 250px;
	float: right;
}

#leftStatsWrapper {
	float: left;
}

#rightStatsWrapper {
	float: right;
}
/* *************AVATAR*********************** */
#leftAvatar {
	width: 200px;
	height: 250px;
	float: left;
}

#rightAvatar {
	height: 250px;
	width: 200px;
	float: right;
}
/* *********************INVENTORY************************************** */
#rightInventory {
	float: right;
	height: 400px;
	width: 100px;
	float: left;
}

#leftInventory {
	height: 400px;
	width: 100px;
	float: right;
}

.item {
	float: left;
	height: 100px;
	width: 100px;
}
/* *************EXPIRIENCE******************************* */
#expAndSkillsWrapper {
	width: 300px;
	height: 100px;
	clear: left;
	/* 	outline: 2px solid green; */
}

#expWrapper {
	width: 100%;
	height: 25px;
}

#innerExp {
	height: 25px;
	background: url("../../img/fight/blue.png");
	border-radius: 5px;
}

#fullExp {
	width: 100%;
	background: gray;
	border-radius: 5px;
}

#expPercent {
	margin-top: -25px;
	height: 25px;
	text-align: center;
	border-radius: 5px;
}
/* *************STATS************* */
#damage {
	width: 100%;
	height: 20px;
}

#defence {
	width: 100%;
	height: 20px;
}

#dodge {
	width: 100%;
	height: 20px;
}