@CHARSET "UTF-8";

#result {
	width: 943px;
	height: 538px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background: url("../../img/fight/loseBackground1.png") no-repeat;
	z-index: 500;
	/* 	outline: 2px solid red; */
}

#imageWrapper {
	background: url("../../img/fight/you-lose-min.png") no-repeat;
}

#bulletHole1 {
	background: url("../../img/fight/bulletHole.png");
	width: 400px;
	height: 267px;
	position: absolute;
	z-index: 600;
	left: 650px;
	right: 0;
	top: 90px;
	margin-right: auto;
	margin-left: auto;
}

#bulletHole2 {
	background: url("../../img/fight/bulletHole.png");
	width: 400px;
	height: 267px;
	position: absolute;
	z-index: 600;
	left: 0;
	right: 0;
	top: 400px;
	margin-right: auto;
	margin-left: auto;
}