body {
	background-image: url(../img/bg_city.png);
	color: white;
	font-family: 'impact';
	font-size: 14pt;
}
h2 {
	color: black;
	font-family: 'impact';
	font-size: 20pt;
}
#blackjack_table{
	background-image: url(../img/layout/blackjack_layout.png);
}
button {
	font-family: 'impact';
	font-size: 20px;
	width: 100px;
	height: 44px;
}

table.sample {
	margin-top: 100px;
	background-color: #444D48;
	opacity: .95;
	filter: alpha(opacity =                 95);
	-moz-opacity: .95;
	border-width: 3px;
	border-spacing: 5px;
	border-style: outset;
	border-color: white;
	border-collapse: separate;
}


A:link {
	text-decoration: underline;
	color: white;
	font-size: 20pt;
}

A:visited {
	text-decoration: underline;
	color: white;
	font-size: 20pt;
}

A:active {
	text-decoration: underline;
	color: white;
	font-size: 20pt;
}

A:hover {
	text-decoration: underline;
	color: white;
	font-size: 20pt;
}

a {
	color: black;
	font-family: 'impact';
	font-size: 20pt;
}
div {
	color: white;
	font-family: 'impact';
	font-size: 14pt;
}
img.highlight {  
   opacity: 1;

  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.8, transparent), to(rgba(0,0,0,0.4)));

  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.99);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.99);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.99);
}

