@CHARSET "UTF-8";

/* ДляGoogle Chrome !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
input:FOCUS,textarea:FOCUS {
	outline: none;
}

input:active,textarea:active {
	outline: none;
}

input,textarea {
	outline: none;
}

input,texarea {
	padding: 0;
	margin: 0;
}
/* ////////////////////////////////////////////// */
a:hover {
	text-decoration: underline;
	color: #8D3267;
}

a {
	color: #225871;
	text-decoration: none;
	outline: none;
}

li {
	margin-left: 40px;
}