body {
	background-image: url(../img/layout/casino.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: white;
	font-family: 'impact';
	font-size: 14pt;
}
h2 {
	color: black;
	font-family: 'impact';
	font-size: 20pt;
}
table#poker_table{
	background-image: url(../img/layout/poker_layout.png);
	background-repeat: no-repeat;
}
button {
	font-family: 'impact';
	font-size: 20px;
	width: 100px;
	height: 44px;
}

table.sample {
	margin-top: 100px;
	background-color: #444D48;
	opacity: .95;
	filter: alpha(opacity =                 95);
	-moz-opacity: .95;
	/* border-width: 3px;
	border-spacing: 5px;
	border-style: outset;
	border-color: white;
	border-collapse: separate; */
}


A:link {
	text-decoration: underline;
	color: white;
	font-size: 20pt;
}

A:visited {
	text-decoration: underline;
	color: white;
	font-size: 20pt;
}

A:active {
	text-decoration: underline;
	color: white;
	font-size: 20pt;
}

A:hover {
	text-decoration: underline;
	color: white;
	font-size: 20pt;
}

a {
	color: black;
	font-family: 'impact';
	font-size: 20pt;
}

a#pot_size{
	text-decoration: none;
	color: white;
	font-size: 16pt;
}
div {
	color: white;
	font-family: 'impact';
	font-size: 14pt;
}
img.highlight {  
   opacity: 1;
 
   /*отражение*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.8, transparent), to(rgba(0,0,0,0.4)));
 
   /*свечение*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.99);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.99);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.99);
}
.combo{
    float: left;
    margin: 40px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.combo:hover {
	margin-top: 2px;
}

.container{
	 opacity: 1;
 
   /*отражение*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.8, transparent), to(rgba(0,0,0,0.4)));
 
   /*свечение*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.99);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.99);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.99);
}

div#result {
	background: url("../img/fight/overlay.png");
	border: 5px solid black;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	
}
#select {
	border: 2px solid black;
	z-index: 4000;
	position: absolute;
	left: 40%;
	top: 40%;
}
#select_table{
	background: url("../img/layout/poker_div.png");
	width: 450px;
	height: 300px;
}

#player_easy, #player_hard{
    opacity: 0.8;

    /*Transition*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;

    /*Reflection*/
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}


#player_easy:hover, #player_hard:hover {  
   opacity: 1;
	border: 2px solid white;
   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));

   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}
