.tTip {
	cursor: pointer;
}

.tip {
	width: 212px;
	color: #333;
	padding-top: 20px;
	overflow: hidden;
	display: none;
	position: absolute;
	
	z-index: 500;
	background: transparent url(../img/shop/tipTop.png) no-repeat top;
}

.tipMid {
	background: transparent url(../img/shop/tipMid.png) repeat-y;
	padding: 0 20px 15px 25px;
	color: black;
}

.tipBtm {
	background: transparent url(../img/shop/tipBtm.png) no-repeat bottom;
	height: 30px;
}