body {
 	background-image: url("../img/style_main.png"); 
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: white;
	font-family: 'impact';
	font-size: 14pt;
}

h2 {
	color: white;
	font-family: 'impact';
	font-size: 20pt;
}
h1 {
	color: #3A2F0B;
	font-family: 'impact';
	font-size: 20pt;
}

button {
	font-family: 'impact';
	font-size: 20px;
	width: 100px;
	height: 44px;
}

table.sample {
	margin-top: 100px;
	background-image: url("../img/dark_opacity.png");
	
	border-width: 3px;
	border-spacing: 2px;
	border-style: outset;
	border-color: #3A2F0B;
	border-collapse: separate;
}

table.sample th {
	border-width: 0px;
	padding: 3px;
	border-style: none;
	border-color: #3A2F0B;
	-moz-border-radius:;
}

table.sample td {
	border-width: 0px;
	padding: 3px;
	border-style: none;
	border-color: #3A2F0B;
	-moz-border-radius:;
}

A:link {
	text-decoration: underline;
	color: white;
	font-size: 20pt;
}

A:visited {
	text-decoration: underline;
	color: white;
	font-size: 20pt;
}

A:active {
	text-decoration: underline;
	color: white;
	font-size: 20pt;
}

A:hover {
	text-decoration: underline;
	color: white;
	font-size: 20pt;
}

a {
	color: white;
	font-family: 'impact';
	font-size: 20pt;
}
div {
	color: red;
	font-family: 'impact';
	font-size: 14pt;
}
img.image_select{
    outline: border: 2px solid #ccc;
    float: left;
    margin: 10px;
    margin-left : 20px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

img.image_select:hover {
    margin-top: 2px;
}