@CHARSET "UTF-8";

body{
	background-color: gray;
/* 	background-image: url("../img/roulette/floor.jpg"); */
}

.panel {
/*  	outline: medium orange solid; */
}

#TopPanel{
	min-height: 80px;
	text-align: center;
}

#user_info{
	width: 50px;
	float: left;
}


#bottomPanel {
	text-align: center;
	clear: both;
}

.chips {  
   opacity: 0.6;
}