@CHARSET "UTF-8";

body{
	background-color: white;
	background-image: url("../img/roulette/floor.jpg");
}

.panel {
 	outline: medium orange solid;
}

#topPanel{
	min-height: 70px;
}

#leftPanel {
	float: left;
	width: 200px;
	height: 500px;
	margin-bottom: 150px;
}

#rightPanel {
	float: right;
	width: 300px;
	height: 300px;
}

#bottomPanel {
	clear: both;
}

#centerPanel {
	margin-left: 250px;
	margin-right: 350px;
/* 	min-height: 300px; */
}