body {
/* 	background-image: url(../img/style_front3.png); */
	background-repeat: no-repeat;
	background-color: black;
	color: white;
	font-family: 'impact';
	font-size: 14pt;
}
h1 {
	color: red;
}
table {
	width: 100%;
	height: 100%;
	background-image: url("img/opacity_background.png");
<!--	opacity: .88;
	filter: alpha(opacity =   88);
	-moz-opacity: .88; -->
}
A:link {text-decoration: underline; color: white}
A:visited {text-decoration: none}
A:hover {text-decoration: underline; color: red;}