body {
 	background-image: url("../../img/style_hideout.png"); 
 	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
	font-family: 'impact';
	font-size: 14pt;	
}

button {
	font-family: 'impact';
	font-size: 20px;
	width: 100px;
	height: 44px;
}


abbr{
	font-family: impact;
	/*font-size: 20t;*/
	color: #CC0000;
}


* {
	margin:0;
	padding:0;
	list-style:none;
}

/* choosen one*/ 
.header_highlight{
	background: #AAAAAA;
}

div.profile_info {
	magrin: 0 auto; 
	padding: 10px; 
/* 	background: url(../../img/dark_opacity.png);  */
	min-width: 400px;
	min-height: 400px; 
/* 	border: 3px solid white; */
	display: inline-block;
	vertical-align: top;
}

div.item, div.mutual_item, div.shop_item {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 15px;
}

div.mutual_item, div.shop_item {
	display:inline-block;
}
div.item, div.mutual_item {
	background: url(../../img/no_item.png);
	
}
div.item:hover, div.mutual_item:hover, div.shop_item:hover {
	background: grey; 
	color: red;
}

div.margin_div_vertical {
	height: 10px; 
	width: 5px;	
}

div.statistics {
	magrin: 0 auto; 
	text-align: center;
	background: url(../../img/dark_opacity.png);
	border-radius: 10px; 
	padding-top: 10px; 
	
}
div.inventory {
	display: inline-block;
	padding: 10px; 
/* 	background: url(../../img/dark_opacity.png); */
/* 	border: 3px solid white; */
	margin: 0 auto;
	width: 600px; 
	text-align: center;
}
div.statistics_list {
	text-align: center; 
	padding: 5px; 
	display: inline-block; 
	border: 1px dotted white; 
	border-radius: 10px; 
	clear: both; 
	min-height: 400px;
	
}
img.avatar {
	float:left; 
    margin: 7px 7px 7px 0; 
}
div.vertical_space {
	width: 20px; 
	display: inline-block;
}
div.horizontal_space {
	height: 20px; 
}
div.profile_statistics_inventory {
	margin: 0 auto; 
	margin-top: 10px;
	width: 1200px; 
	height: 100%;
	/*background: url(../../img/dark_opacity.png);*/
	
}
div.centered_psi {
	background: url(../../img/dark_opacity.png);
	text-align: center; 
	border-radius: 10px;
}
div.set_of_items {
	display: inline-block; 
	border: 1px dotted white; 
	border-radius: 10px;  
	vertical-align: top;
	padding: 10px; 
	min-height: 400px; 
}
a.statistics_link {
	text-decoration: none;
	color: white; 
	font-family: impact;
	font-size: 20pt;
}
div.ranking_by_exp {
	margin-left: 40px;
	float: left; 
	width: 280px; 
	height: 400px;
	padding-top: 5px; 
	color: white; 
	font-size: 14pt; 
	border: 1px dotted white;
	border-radius: 10px; 
	text-align: center; 
}
div.ranking_by_money {
	margin-right: 40px; 
	float: right;  
	width: 280px;
	height: 400px;
	padding-top: 5px; 
	color: white; 
	font-size: 14pt; 
	border: 1px dotted white;
	border-radius: 10px; 
	text-align: center;   
}
div#main_page {
	
}
h2.inventory_and_pi {
	margin-bottom: 10px; 
}
a.edit_and_buy, a.edit_and_buy:HOVER, a.edit_and_buy:VISITED {
	color: #C00; 
}
