* {
	margin:0;
	padding:0;
	list-style:none;
}
body {
	background-image: url('../../img/bg_city.png');
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: white;	
	font-size: 14	px;
	margin:10px;
}
div.profile_header {
	background-image: url('../../img/opacity_background.png');
	border-radius: 10px;
	text-align: center; 
	margin: 20px;
	padding: 15px;  
}
span.header_element {
	padding-right: 40px;
	padding-left: 40px;	 
	
}

a:hover,A:active,A:visited,A:link {
	text-decoration: underline;
	color: white;
	font-size: 20pt;
}

a {
	color: black;
	font-family: 'impact';
	font-size: 20pt;
}

#basic-accordian{
	/*border:5px solid #EEE;
	padding:5px; */
	
}

/* Unselected one*/
.accordion_headings{
	padding:5px;
	background: #222222;
	color: white;
	border:3px solid #FFF;
	font-size: 14pt; 
	cursor:pointer;
	border-radius: 10px; 
	/*font-weight:bold;*/
}

/* On focus one*/
.accordion_headings:hover{
	background: #CCCCCC;
}

.accordion_child{
	padding:15px;
	background:#grey;
}
/* choosen one */
.header_highlight{
	background: #AAAAAA;
}

div.profile_info {
	magrin: 0 auto; 
	padding: 10px; 
	background: url(../../img/opacity_background.png);
	min-width: 400px;
	min-height: 400px; 
	border: 3px solid white; 
	display: inline-block;
	vertical-align: top;
}

div.item, div.mutual_item, div.shop_item {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 15px;
}

div.mutual_item, div.shop_item {
	display:inline-block;
}
div.item, div.mutual_item {
	background: url(../../img/no_item.png);
}
div.item:hover, div.mutual_item:hover, div.shop_item:hover {
	background: grey; 
}

div.margin_div_vertical {
	height: 10px; 
	width: 5px;	
}

div.statistics {
	magrin: 0 auto; 
	text-align: center; 
	/*background: url(../../img/opacity_background.png);*/
	/*width: 400px;*/ 
	/*clear: both;*/ 
	
	/*display: block; 
	margin: 0 auto;
	padding: 10px; 
	background: url(../../img/opacity_background.png);
	min-width: 400px;
	min-height: 400px; 
	border: 3px solid white;
	/*display: inline-block;*/
	/*vertical-align: top;*/
	/*float: left;*/  
	/*display: inline-block;*/
}
div.inventory {
	display: inline-block;
	padding: 10px; 
	background: url(../../img/opacity_background.png);
	border: 3px solid white;
	margin: 0 auto;
	width: 600px; 
	text-align: center;
}
div.statistics_list {
	magrin: 0 auto; 
	padding: 5px; 
	display: inline-block; 
	border: 1px solid white;
	clear: both; 
}
img.avatar {
	float:left; 
    margin: 7px 7px 7px 0; 
}
div.vertical_space {
	width: 20px; 
	display: inline-block;
}
div.horizontal_space {
	height: 20px; 
}
div.profile_statistics_inventory {
	margin: 0 auto; 
	width: 1200px; 
	background: url(../../img/dark_opacity.png);
}
div.set_of_items {
	display: inline-block; 
	border: 3px solid white; 
	vertical-align: top;
	padding: 10px; 
}
